.header {
  background: $primerColor;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  height: 90px;
  .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      width: 64px;
      height: 64px;
      display: inline-block;
      a{
        text-decoration: none;
        color: $segundoColor;
        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          color: $segundoColor;
        }
      }
    }
    .barra {
      .opciones {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li {
          margin-left: 20px;
          a {
            text-decoration: none;
            color: $tercerColor;
            display: inline-block;
            font-size: 1.2em;
            padding: 5px 0;
            &:hover {
              color: $cuartoColor;
            }
          }
          .active {
            border-bottom: 2px solid $cuartoColor;
          }
        }
      }
    }
    .despliegue {
      display: none;
      cursor: pointer;
      a {
        color: #ffffff;
        font-size: 23px;
      }
    }
  }
}