@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
  .header {
    .contenedor {
      .barra {
        .opciones {
          position: absolute;
          right: 0;
          height: 90vh;
          top: 10vh;
          background: $primerColor;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 40px;
          transform: translateX(100%);
          li {
            opacity: 0;
          }
        }
      }
      .despliegue {
        display: block;
      }
    }
  }
}

@media screen and (max-width:667px) {
  .tecnologias {
    .contenedor {
      .contenido-tecnologias {
        .tecnologia {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (max-width:600px) {
  .trabajos {
    .contenedor {
      .contenido-trabajos {
        .trabajo {
          width: 45%;
        }
      }
    }
  }
}

@media screen and (max-width:515px) {
  .footer {
    .redes {
      a {
        width: 60px;
        height: 60px;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width:477px) {
  .presentacion {
    .contenedor {
      .desarrollador {
        .nombre {
          font-size: 40px;
        }
      }
    }
  }
}

.opt-active {
  transform: translateX(0%) !important;
}

@keyframes li-desvanecer {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
