* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.contenedor {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: #1b262c;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  height: 90px;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .contenedor .logo {
  width: 64px;
  height: 64px;
  display: inline-block;
}
.header .contenedor .logo a {
  text-decoration: none;
  color: #0f4c75;
}
.header .contenedor .logo a img {
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #0f4c75;
}
.header .contenedor .barra .opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header .contenedor .barra .opciones li {
  margin-left: 20px;
}
.header .contenedor .barra .opciones li a {
  text-decoration: none;
  color: #3282b8;
  display: inline-block;
  font-size: 1.2em;
  padding: 5px 0;
}
.header .contenedor .barra .opciones li a:hover {
  color: #bbe1fa;
}
.header .contenedor .barra .opciones li .active {
  border-bottom: 2px solid #bbe1fa;
}
.header .contenedor .despliegue {
  display: none;
  cursor: pointer;
}
.header .contenedor .despliegue a {
  color: #ffffff;
  font-size: 23px;
}

.presentacion {
  width: 100%;
  height: calc(100vh - 90px);
  background: url("../img/bg-pre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.presentacion .contenedor {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion .contenedor .desarrollador {
  text-align: center;
  color: #1b262c;
  font-weight: normal;
  border: 4px solid #3282b8;
  border-radius: 10px;
  width: 500px;
  padding: 50px;
  background: rgba(15, 76, 117, 0.5);
  animation: bajar 2s ease-in-out;
}
.presentacion .contenedor .desarrollador .nombre {
  font-size: 50px;
  display: block;
}
.presentacion .contenedor .desarrollador .profesion {
  display: block;
}

@keyframes bajar {
  from {
    margin-bottom: 20%;
  }
  to {
    margin-bottom: 0%;
  }
}
.trabajos {
  width: 100%;
  background: #1b262c;
}
.trabajos .contenedor {
  overflow: hidden;
}
.trabajos .contenedor .titulo {
  width: 100%;
  text-align: center;
  padding: 50px;
}
.trabajos .contenedor .titulo h1 {
  color: #3282b8;
  text-transform: uppercase;
  font-weight: 400;
}
.trabajos .contenedor .contenido-trabajos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.trabajos .contenedor .contenido-trabajos .trabajo {
  width: 23%;
  margin-bottom: 40px;
}
.trabajos .contenedor .contenido-trabajos .trabajo img {
  width: 100%;
  border-radius: 10px;
}
.trabajos .contenedor .contenido-trabajos .trabajo img:hover {
  filter: grayscale(0);
}
.trabajos .contenedor .contenido-trabajos .trabajo .informacion {
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.trabajos .contenedor .contenido-trabajos .trabajo .informacion a {
  text-decoration: none;
}
.trabajos .contenedor .contenido-trabajos .trabajo .informacion a p {
  color: #3282b8;
  font-size: 1.4375rem;
  line-height: 35px;
}
.trabajos .contenedor .contenido-trabajos .trabajo .informacion p {
  font-weight: 300;
  font-size: 0.9rem;
}

.tecnologias {
  width: 100%;
  background: #1b262c;
}
.tecnologias .contenedor {
  overflow: hidden;
}
.tecnologias .contenedor .titulo {
  width: 100%;
  text-align: center;
  padding: 50px;
  border-top: 3px solid #3282b8;
}
.tecnologias .contenedor .titulo h1 {
  color: #3282b8;
  text-transform: uppercase;
  font-weight: 400;
}
.tecnologias .contenedor .contenido-tecnologias {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.tecnologias .contenedor .contenido-tecnologias .tecnologia {
  width: 15%;
  display: flex;
  margin: 0 5px 50px 5px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.tecnologias .contenedor .contenido-tecnologias .tecnologia img {
  width: 100%;
  border: 7px solid #0f4c75;
  border-radius: 20px;
  vertical-align: top;
  object-fit: cover;
}
.tecnologias .contenedor .contenido-tecnologias .tecnologia:hover {
  transform: scale(1.1);
}

.contacto {
  width: 100%;
  background: #1b262c;
}
.contacto .contenedor {
  overflow: hidden;
}
.contacto .contenedor .titulo {
  width: 100%;
  text-align: center;
  padding: 50px;
  border-top: 3px solid #3282b8;
}
.contacto .contenedor .titulo h1 {
  color: #3282b8;
  text-transform: uppercase;
  font-weight: 400;
}
.contacto .contenedor .formulario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacto .contenedor .formulario .nombre, .contacto .contenedor .formulario .email, .contacto .contenedor .formulario .mensaje {
  background: transparent;
}
.contacto .contenedor .formulario .nombre, .contacto .contenedor .formulario .email {
  width: 48%;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #3282b8;
  margin-bottom: 30px;
  color: #0f4c75;
  font-size: 1.25rem;
}
.contacto .contenedor .formulario .nombre:focus, .contacto .contenedor .formulario .email:focus {
  border-bottom: 2px solid #bbe1fa;
  outline: none;
}
.contacto .contenedor .formulario .mensaje {
  width: 100%;
  height: 100px;
  max-width: 100%;
  max-height: 300px;
  color: #0f4c75;
  border: 2px solid #3282b8;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 20px;
  margin-bottom: 30px;
}
.contacto .contenedor .formulario .mensaje:focus {
  outline: 2px auto #bbe1fa;
}
.contacto .contenedor .formulario .boton {
  margin: auto;
  padding: 10px 40px;
  font-size: 1.25rem;
  background: #3282b8;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #1b262c;
  margin-bottom: 50px;
}
.contacto .contenedor .formulario .boton:hover {
  background: #42b883;
  color: #f2f2f2;
}

.footer {
  background: #1B1C1E;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .redes {
  width: 100%;
  text-align: center;
  padding: 30px;
  margin-bottom: 10px;
}
.footer .redes a {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 20px;
  font-size: 1.75rem;
  color: #ffffff;
  padding: 20px;
  border-radius: 100%;
  text-align: center;
}
.footer .redes .twitter:hover {
  background: #1da1f2;
}
.footer .redes .facebook:hover {
  background: #3b5998;
}
.footer .redes .github:hover {
  background: #c9510c;
}
.footer .redes .instagram:hover {
  background: #833ab4;
}
.footer .personal {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.footer .personal p {
  color: #ffffff;
}
.footer .personal p span {
  font-weight: bold;
  color: #3282b8;
}
.footer .personal p a {
  text-decoration: none;
  color: #3282b8;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .header .contenedor .barra .opciones {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background: #1b262c;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    transform: translateX(100%);
  }
  .header .contenedor .barra .opciones li {
    opacity: 0;
  }
  .header .contenedor .despliegue {
    display: block;
  }
}
@media screen and (max-width: 667px) {
  .tecnologias .contenedor .contenido-tecnologias .tecnologia {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .trabajos .contenedor .contenido-trabajos .trabajo {
    width: 45%;
  }
}
@media screen and (max-width: 515px) {
  .footer .redes a {
    width: 50px;
  }
}
@media screen and (max-width: 477px) {
  .presentacion .contenedor .desarrollador .nombre {
    font-size: 40px;
  }
}
.opt-active {
  transform: translateX(0%) !important;
}

@keyframes li-desvanecer {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=estilos.css.map */
